.hero {
  position: relative;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: "";
  background-image: url("https://images.unsplash.com/photo-1605379399642-870262d3d051?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1206&q=80&fbclid=IwAR07L670BNPs1bkrx3YJ2HFCdfOjcPfwreD5g3lZWiWRBmAYRXm1ACY3oUk");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: brightness(70%);
}

.group_text {
  position: relative;
  color: white;
  line-height: 0.9;
}

.group {
  background-color: white;
  height: 200px;
  border-radius: 15px;
}
