.hero {
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.hero::before {
  content: "";
  /* background-image: url("https://www.anu.edu.au/files/guidance/Report%20writing%20in%20a%20group%20-%20smaller_0.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: brightness(70%);
}

.group_text {
  position: relative;
  color: white;
  line-height: 0.9;
}

.group {
  background-color: white;
  height: 200px;
  border-radius: 15px;
}
